/* General Styles */
body {
  font-family: Arial, sans-serif;
}

.profile-container {
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap onto multiple lines */
  width: 80%;
  margin: 30px auto; /* Center the container horizontally */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Profile Info */
.profile-info {
  flex: 1 1 30%; /* Set width and minimum width */
  text-align: center;
  padding: 20px;
}

.profile-picture {
  width: 150px; /* Set the width as per your requirement */
  height: 100px; /* Set the height as per your requirement */
  border-radius: 150%; /* Makes the image round */
  border: 50px solid #ffffff; /* Adds a white border around the image */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow effect */
}

.user-details h2 {
  color: #333;
}

.user-details p {
  margin-top: 5px;
  font-size: 14px;
}

.contact-me {
  display: inline-block;
  background-color: #008cba;
  color: #fff;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* Stats Section */
.stats {
  flex: 2 1 70%; /* Set width and minimum width */
  display: flex;
  justify-content: space-evenly; /* Space stats evenly */
}

.stat-block {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.stat-block h3 {
  color: #008cba;
  margin-bottom: 5px;
}

/* Services Section */
.services {
  flex: 2 1 70%; /* Set width and minimum width */
}

.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.skills-list li {
    background-color: #e0e0e0;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 5px;
}

/* Guarantee */
.guarantee {
  flex: 2 1 70%; /* Set width and minimum width */
  text-align: center;
  background-color: #008cba;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.guarantee button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

/* Responsive Adjustments (Add if Needed) */
@media screen and (max-width: 768px) {
  .profile-info, .stats, .services, .guarantee {
    flex-basis: 100%; /* Force sections to stack vertically on smaller screens */
    margin-bottom: 20px;
  }
}
