
<header>
  <app-navbar></app-navbar>
</header>
<div class="dashboard-container">

  <div class="content-area">

    <div class="card-container">

      <div class="card">
        <img src="1.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h3><b>PYTHON PROGRAMMING</b></h3>
          <p>Software AI & Data Expert</p>
          <p>7+ Years Of Experience</p>
          <p>PROGRAMMING, WEB SCRAPING,</p>
          <p>MACHINE LEARNING, AUTOMATION</p>
          <button routerLink="/profile">BUY</button>
        </div>
      </div>

      <!-- Repeat the card structure for additional cards -->
      <div class="card">
        <img src="im.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h3><b>JAVA PROGRAMMING</b></h3>
          <p>Software AI & Data Expert</p>
          <p>7+ Years Of Experience</p>
          <p>PROGRAMMING, WEB SCRAPING,</p>
          <p>MACHINE LEARNING, AUTOMATION</p>
          <button href="./profile.component.html">BUY</button>
        </div>
      </div>

      <div class="card">
        <img src="1.jpg" alt="DP" style="width:100%">
        <div class="container">
          <h3><b>KOTLIN PROGRAMMING</b></h3>
          <p>Software AI & Data Expert</p>
          <p>7+ Years Of Experience</p>
          <p>PROGRAMMING, WEB SCRAPING,</p>
          <p>MACHINE LEARNING, AUTOMATION</p>
          <button href="./profile.component.html">BUY</button>
        </div>
      </div>

      <div class="card">
        <img src="1.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h3><b>RUBY PROGRAMMING</b></h3>
          <p>Software AI & Data Expert</p>
          <p>7+ Years Of Experience</p>
          <p>PROGRAMMING, WEB SCRAPING,</p>
          <p>MACHINE LEARNING, AUTOMATION</p>
          <button href="./profile.component.html">BUY</button>
        </div>
      </div>

    </div>


    <div class="card-container">

      <div class="card">
        <img src="1.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h3><b>PYTHON PROGRAMMING</b></h3>
          <p>Software AI & Data Expert</p>
          <p>7+ Years Of Experience</p>
          <p>PROGRAMMING, WEB SCRAPING,</p>
          <p>MACHINE LEARNING, AUTOMATION</p>
          <button href="./profile.component.html">BUY</button>
        </div>
      </div>

      <!-- Repeat the card structure for additional cards -->
      <div class="card">
        <img src="im.png" alt="Avatar" style="width:100%">
        <div class="container">
          <h3><b>JAVA PROGRAMMING</b></h3>
          <p>Software AI & Data Expert</p>
          <p>7+ Years Of Experience</p>
          <p>PROGRAMMING, WEB SCRAPING,</p>
          <p>MACHINE LEARNING, AUTOMATION</p>
          <button href="./profile.component.html">BUY</button>
        </div>
      </div>

      <div class="card">
        <img src="1.jpg" alt="DP" style="width:100%">
        <div class="container">
          <h3><b>KOTLIN PROGRAMMING</b></h3>
          <p>Software AI & Data Expert</p>
          <p>7+ Years Of Experience</p>
          <p>PROGRAMMING, WEB SCRAPING,</p>
          <p>MACHINE LEARNING, AUTOMATION</p>
          <button href="./profile.component.html">BUY</button>
        </div>
      </div>

      <div class="card">
        <img src="1.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h3><b>RUBY PROGRAMMING</b></h3>
          <p>Software AI & Data Expert</p>
          <p>7+ Years Of Experience</p>
          <p>PROGRAMMING, WEB SCRAPING,</p>
          <p>MACHINE LEARNING, AUTOMATION</p>
          <button href="./profile.component.html">BUY</button>
        </div>
      </div>

    </div>


  </div>
</div>
